name: Build and Push Python Image to Google Cloud Platform

on:
    push:
        branches:
            - master

jobs:
    build-push-gcr:
        name: Build and Push to GCP
        runs-on: ubuntu-latest
        env:
            IMAGE_NAME: rfp-generator
            PROJECT_ID: ${{secrets.GCP_PROJECT_ID}}
            PROJECT_NUMBER: ${{secrets.GCP_PROJECT_NUMBER}}

        steps:
        - name: Checkout the code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Set up Cloud SDK
          uses: google-github-actions/setup-gcloud@v2.1.0

        - name: Authenticate to Google Cloud
          uses: google-github-actions/auth@v2.1.0
          with:
            credentials_json: '${{secrets.GCP_SA_KEY}}'

        - name: Configure Environment Variables
          run: |
            echo "DEPLOYMENT_ENV=prod" >> $GITHUB_ENV

        - name: Build Docker Image
          run: docker build -t $IMAGE_NAME:latest .

        - name: Set image tag for Master branch
          run: |
            echo "IMAGE_TAG=prod-$GITHUB_SHA" >> $GITHUB_ENV

        - name: Configure Docker Client
          run: |-
            gcloud auth configure-docker --quiet
            gcloud auth configure-docker northamerica-northeast2-docker.pkg.dev --quiet

        - name: Push Docker Image to Artifact Registry
          run: |-
              docker tag $IMAGE_NAME:latest northamerica-northeast2-docker.pkg.dev/$PROJECT_ID/images/$IMAGE_NAME:latest
              docker tag $IMAGE_NAME:latest northamerica-northeast2-docker.pkg.dev/$PROJECT_ID/images/$IMAGE_NAME:$IMAGE_TAG
              docker push northamerica-northeast2-docker.pkg.dev/$PROJECT_ID/images/$IMAGE_NAME:latest
              docker push northamerica-northeast2-docker.pkg.dev/$PROJECT_ID/images/$IMAGE_NAME:$IMAGE_TAG

        - name: Deploy to Cloud Run
          run: |
            SERVICE_NAME="rfp-generator"
            SETTINGS_NAME="prod-rfp-generator-config"
            gcloud run deploy $SERVICE_NAME \
              --image northamerica-northeast2-docker.pkg.dev/$PROJECT_ID/images/$IMAGE_NAME:$IMAGE_TAG \
              --allow-unauthenticated \
              --platform managed \
              --region us-east1 \
              --cpu 4 \
              --memory 8Gi \
              --vpc-connector prod-vpc-connector \
              --set-env-vars GOOGLE_CLOUD_PROJECT=$PROJECT_ID,SETTINGS_NAME=$SETTINGS_NAME,OPENAI_API_KEY=${{secrets.OPENAI_API_KEY}} \
              --quiet
